streamlit
PyMuPDF
streamlit
PyMuPDF
python-docx
chardet
fastapi 
uvicorn 
sentence-transformers 
scikit-learn
nltk
# nltk_data should be installed separately using nltk.download() in your Python environment
pandas
numpy
pdfplumber

